#!/bin/bash
##############################################################################
########################### zrohyun custom aliases ###########################
##############################################################################

# Unix
alias ln="ln -v"
alias mkdir="mkdir -p"
alias e="$EDITOR"
alias v="$VISUAL"

# Pretty print the path

alias path='echo $PATH | tr -s ":" "\n"'
alias hey='tmux new -As main'
alias hi=hey


# vim command
if command -v vim &> /dev/null; then
  alias vi=vim
fi 


# trash command
if command -v trash &> /dev/null; then
  alias rm='trash -v'
  alias rm-list='trash-list'
else
  echo "'trash' command is not installed"
fi 




# tldr command -> cht
if command -v cht.sh &>/dev/null; then
  alias man='cht.sh'
fi
# if command -v tldr &> /dev/null; then
#   alias man='tldr'
# else
#   echo "'tldr' command is not installed"
# fi

# thefuck command
if command -v thefuck &>/dev/null; then
  eval $(thefuck --alias)
else
  echo "'thefuck' command is not installed"
fi

# fd
if command -v fdfind &>/dev/null; then
  alias fd='fdfind -aI'
fi

# exa
if command -v exa &>/dev/null; then
  alias ls='exa --icons'
  alias la='ls -lah'
fi

if command -v lsd &>/dev/null; then
  alias ls='lsd'
  alias la='lsd -lah'
  alias ll='lsd -lh'
fi

# NOT MUST HAVE ITEM

# bat
if command -v batcat &>/dev/null; then
  alias bat='batcat'
fi

# duf
if command -v duf &>/dev/null; then
  alias df='duf'
fi

# dust
if command -v dust &>/dev/null; then
  alias du='dust'
fi
