#! (DEPRECATED) 사용안함. 가끔 설정 중간저장용으로 사용할 때 괜찮을듯
# [READEME.md](https://github.com/lra/mackup/blob/master/doc/README.md)
[storage]
engine = file_system
path = .dotfiles/osx
directory = mackup

[applications_to_sync]
vscode
# defaultkeybinding
# raycast
# vscode-insiders
# vscode-oss

[applications_to_ignore]
ssh
tmux
bash
vim
zsh
oh-my-tmux
git
mackup
ideavim
p10k
appcleaner